[user]
  name = cohitre
  email = carlosrr@gmail.com

[core]
  # Use custom `.gitignore` and `.gitattributes`
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes

[color]
  # Use colors in Git commands that are capable of colored output when outputting to the terminal
  ui = auto
