[submodule ".vim/autoload/pathogen"]
	path = .vim/autoload/pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule ".vim/bundle/closetag"]
	path = .vim/bundle/closetag
	url = git://github.com/docunext/closetag.vim.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule ".vim/bundle/delmitmate"]
	path = .vim/bundle/delmitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = git://github.com/vim-scripts/supertab.git
[submodule ".vim/bundle/jshint2.vim"]
	path = .vim/bundle/jshint2.vim
	url = git@github.com:Shutnik/jshint2.vim.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
  url = git@github.com:pangloss/vim-javascript.git
[submodule ".vim/bundle/html5.vim"]
	path = .vim/bundle/html5.vim
	url = git@github.com:othree/html5.vim.git
[submodule ".vim/bundle/jsx.vim"]
	path = .vim/bundle/jsx.vim
	url = git@github.com:jsx/jsx.vim.git
